body.index-page {
  background-color: #fffdd9;
  font-family: "Rounded Mplus 1c", sans-serif;
}

.index-page .container {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.index-page h2 {
  font-style: bold;
  color: #173753;
  font-size: 6vh;
  text-align: center;
  margin-bottom: 5%;
}

.index-page p {
  color: #173753;
  font-size: 3vh;
  text-align: center;
  margin-bottom: 20px;
}

.index-page .content-image {
  display: block;
  margin-bottom: 20%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.col-md-8 {
  margin-top: 10%;
}

.navbar-logo {
  width: auto;
  height: auto; /* Ou une taille spécifique si nécessaire */
}

.index-page .content-image {
  width: 50%;
  height: auto;
}

#loginModal {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #FFFDD9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
  }
  
  .dlgheadcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .close {
    color: black;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .dlgcontainer {
    padding: 16px;
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .okbtn {
    background-color: #173753;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 40%;
  }
  
  .okbtn:hover,
  .cancelbtn:hover {
    opacity: 0.8;
  }
  