body.gdscans {
  background-color: #fffdd9;
  font-family: "Rounded Mplus 1c", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

body.gdscans h1 {
  color: #173753;
  font-family: "Rounded Mplus 1c", sans-serif;
  font-size: 6vh;
  margin-bottom: 6vw;
  margin-top: 10vw;
}

body.gdscans #imageGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

body.gdscans .imageContainer {
  width: 150px; /* Fixed width for each image container */
  text-align: center;
  margin-bottom: 20px;
}

body.gdscans .imageContainer img {
  width: 100%; /* Make images fill their containers */
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

body.gdscans .caption {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  background-color: #f1f1d4;
  padding: 5px;
  border-radius: 5px;
}

.navbar-nav .nav-link {
  color: white !important;
  font-family: "Inter", sans-serif;
}

.fas {
  color: #173753;
}

.loginIcon .fas {
  color: white;
}

.boutonStats {
    margin-top: 5vw;
    margin-bottom: 12vw;
}

.boutonStats a {
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: #00274d;
    color: white;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
}

.boutonStats a:hover {
    color: white;
    text-decoration: none;
}