body {
    background-color: #FFFDD9;
    font-family: 'Rounded Mplus 1c', sans-serif;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%;
}

.container h2 {
    font-weight: bold;
    color: #173753;
    font-size: 6vh;
    margin-bottom: 7vw;
    margin-top: 10vw;
}

.container p {
    color: #173753;
    font-size: 3vh;
}

#depose-photo p {
    margin-top: 7vw;
    font-weight: bold;
}


#depose-photo {
    margin-bottom: 8vw;
}


#prendre-photo p {
    margin-top: 7vw;
    font-weight: bold;
}


#loginModal {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #fffdd9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
  }
  
  .dlgheadcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .close {
    color: black;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .dlgcontainer {
    padding: 16px;
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .okbtn {
    background-color: #173753;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 40%;
  }
  
  .okbtn:hover,
  .cancelbtn:hover {
    opacity: 0.8;
  }
  